<div class="container-fluid">
    <h2 class="h2">Folders</h2>

    <div ng-if="cv.show_input == 'search'">
        <a ng-click="cv.show_input = 'new_folder'; cv.search_input = ''"> (New)</a>
        <br/><br/>
        <label>Search: </label>
        <input type="text" placeholder="Search" autofocus="true" ng-model="cv.search_input" class="form-control"
               ng-if="cv.show_input == 'search'">
    </div>

    <div ng-if="cv.show_input == 'new_folder'">
        <a ng-click="cv.show_input = 'search'"> (Search)</a>
        <br/><br/>
        <form>
            <label>New Folder: </label>
            <input type="text" ng-model="cv.new_folder.name" placeholder="New Folder Name" class="form-control"
                   ng-if="cv.show_input == 'new_folder'">
            <button ng-click="create_folder()" class="btn btn-default">Create</button>
        </form>
    </div>

    <div ng-if="cv.show_input == 'edit_folder'">
        <a ng-click="cv.show_input = 'search'"> Search</a> |
        <a ng-click="cv.show_input = 'new_folder'"> New</a>

        <br/><br/>
        <form>
            <input type="text" ng-model="cv.edit_folder.name" class="form-control">
            <button class="btn btn-default" ng-click="update_folder()">Update</button>
<!--            <button class="btn btn-danger" ng-click="">Delete</button>-->
        </form>

    </div>


    <br/><br/>
    <!--{{cv.folders}}-->
    <!--{{cv.folders}}-->

    <table class="table table-hover">
        <!--<tr>-->
        <!--<th>Name</th>-->
        <!--</tr>-->


        <tr ng-repeat="folder in cv.folders | filter:{name: cv.search_input }">

            <td><span class="h4">{{folder.name}}</span> <a class="text-muted pull-right" ng-click="edit_folder(folder)">(edit)</a>
            </td>
        </tr>

    </table>
</div>