<div class="col-md-4 ng-cloak  ">
    <div class="  ">
        <button class="btn btn-default btn-lg" ng-click="set_show_block('notes'); fetch_all_user_notes()">All Notes
        </button>
        <button class="btn btn-default btn-lg" ng-click="set_show_block('notes'); fetch_inbox_notes()">Inbox
        </button>
        <button class="btn btn-default btn-lg" ng-click="set_show_block('new_note'); cv.show_edit_note = false">New Note</button>

        <br/><br/>
        <div
                ng-class="{
        'y_scroll ': cv.notes_side_bar_is_open == true
        }" ng-cloak="true"
        >
            <uib-accordion close-others="oneAtATime">

                <!--folders-->
                <div uib-accordion-group class="panel-default" is-open=cv.notes_side_bar_is_open>
                    <uib-accordion-heading>
                        <span class="">Folders</span>
                        <a class="pull-right" ng-click="$event.stopPropagation()" href="/#!/folders">(Add/Edit)</a>

                    </uib-accordion-heading>

                    <input type="text" placeholder="Search" autofocus="true" ng-model="cv.search_input_folder"
                           class="form-control">
                    <br/>
                    <table class="table table-hover ">
                        <tr ng-repeat="folder in cv.folders | filter:{name: cv.search_input_folder }" class="hand_icon">

                            <td
                                    ng-class="{
                            '  bg-info' : folder.is_selected == true
                            }"

                                    ng-click="get_folder_notes(folder)">
                                {{folder.name}}
                                <span class="badge pull-right" ng-if="folder.notes_count != 0">
                        {{folder.notes_count}}
                    </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </uib-accordion>
        </div>

        <br/>
        <!--tags-->
        <div
        ng-class="{
        'y_scroll': cv.tags_side_bar_is_open == true
        }"
        >
            <uib-accordion close-others="oneAtATime">

                <div uib-accordion-group class="panel-default" is-open=cv.tags_side_bar_is_open>
                    <uib-accordion-heading>
                        <span class="">Tags</span>
                        <a class="pull-right" ng-click="$event.stopPropagation()" href="/#!/tags">(Add/Edit)</a>

                    </uib-accordion-heading>


                    <input type="text" placeholder="Search" autofocus="true" ng-model="cv.search_input_tag"
                           class="form-control">
                    <br/>
                    <table class="table table-hover ">
                        <tr ng-repeat="tag in cv.tags | filter:{name: cv.search_input_tag }" class="h4 hand_icon ">

                            <td ng-class="{
                            '  bg-info' : tag.is_selected == true
                            }"

                                ng-click="get_tag_notes(tag)">
                                {{tag.name}}
                                <span class="pull-right badge" ng-if="tag.notes_count != 0">{{tag.notes_count}}</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </uib-accordion>

        </div>
    </div>
</div>
<div class="col-md-8 y_scroll1000">


    <div ng-if="cv.show_new_note == true">
        <h3 class="h3">New Note</h3><br/><br/>

        <form>
            <label>Title:</label>
            <input id="myinput" type="text" ng-model="cv.new_note.title" placeholder="title" class="form-control">

            <br/>
            <label>Description:</label>
            <textarea ng-model="cv.new_note.description" placeholder="description" class="form-control"
                      rows="8"></textarea>
            <br/>


            <!--/folders-->
            <div class="input-group">
                <ui-select ng-model="cv.new_note_selected_folder"
                           reset-search-input="false"
                           theme="bootstrap"
                           title="Select Folder..">

                    <ui-select-match placeholder="Select Folder.." allow-clear="true">
                        {{$select.selected.name}}
                    </ui-select-match>


                    <ui-select-choices
                            repeat="folder in (cv.folders | filter: $select.search) track by folder.id">
                        {{folder.name}}
                    </ui-select-choices>

                </ui-select>
                <span class="input-group-btn">
                      <button type="button" ng-click="cv.new_note_selected_folder = undefined" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                      </button>
                </span>
            </div>
            <!--//folders-->

            <br/>
            <!--/tags-->
            <div class="input-group">
                <ui-select ng-model="cv.new_note_selected_tags"
                           reset-search-input="false"
                           theme="bootstrap"
                           multiple
                           title="Select Tag..">

                    <ui-select-match placeholder="Select Tag.." allow-clear="true">
                        <!--{{$select.selected.name}}-->
                        {{$item.name}}
                    </ui-select-match>


                    <ui-select-choices
                            repeat="tag in (cv.tags | filter: $select.search) track by tag.id">
                        {{tag.name}}
                    </ui-select-choices>

                </ui-select>
                <span class="input-group-btn">
                      <button type="button" ng-click="cv.new_note_selected_tag = undefined" class="btn btn-default">
                            <span class="glyphicon glyphicon-trash"></span>
                      </button>
                </span>
            </div>
            <!--//tags-->

            <!--<ui-select ng-model="$mctrl.selected_labels" reset-search-input="true"-->
            <!--theme="bootstrap"-->
            <!--multiple-->
            <!--on-select=""-->
            <!--on-remove=""-->
            <!--spinner-enabled="true"-->

            <!--tagging="$mctrl.add_new_label"-->
            <!--tagging-label=false-->
            <!--&gt;        &lt;!&ndash;!ui-select labels&ndash;&gt;-->


            <!--<ui-select-match placeholder="Select Labels" allow-clear="true">-->
            <!--{{$item.name}}-->
            <!--</ui-select-match>-->


            <!--<ui-select-choices-->
            <!--repeat="label in (dataServ.labels.all | filter: $select.search) track by label.id">-->
            <!--<div ng-bind-html="label.name | highlight: $select.search"></div>-->
            <!--</ui-select-choices>-->
            <!--&lt;!&ndash;<ui-select-no-choice>&ndash;&gt;-->
            <!--&lt;!&ndash;Dang! We couldn't find any choices...&ndash;&gt;-->
            <!--&lt;!&ndash;</ui-select-no-choice>&ndash;&gt;-->
            <!--</ui-select>-->


            <br/><br/>
            <button class="btn btn-lg btn-success" ng-click="create_new_note()">Save</button>
            &nbsp;&nbsp;
            <button class="btn btn btn-danger" ng-click="cancel_form_create()">Cancel</button>
        </form>

    </div>


    <div ng-if="cv.show_edit_note == true">
        <h3 class="h3">Edit Note</h3><br/><br/>

        <form name="cv.editNoteForm" novalidate>
            <label>Title:</label>
            <input type="text" ng-model="cv.edit_note.title" placeholder="title" class="form-control" autofocus>

            <br/>
            <label>Description:</label>
            <textarea ng-model="cv.edit_note.description" placeholder="description" class="form-control"
                      rows="8"></textarea>
            <br/>

            <!--/folders-->
            <div>
                <ui-select ng-model="cv.edit_note_selected_folder"
                           reset-search-input="false"
                           theme="bootstrap"
                           title="Select Folder..">

                    <ui-select-match placeholder="Select Folder.." allow-clear="true">
                        {{$select.selected.name}}
                    </ui-select-match>


                    <ui-select-choices
                            repeat="folder in (cv.folders | filter: $select.search) track by folder.id">
                        {{folder.name}}
                    </ui-select-choices>

                </ui-select>
            </div>
            <!--//folders-->

            <br/>
            <!--/tags-->

            <!--<div class="input-group">-->
            <div>
                <ui-select ng-model="cv.edit_note_selected_tags"
                           reset-search-input="false"
                           theme="bootstrap"
                           multiple
                           title="Select Tag..">

                    <ui-select-match placeholder="Select Tag.." allow-clear="true">
                        <!--{{$select.selected.name}}-->
                        {{$item.name}}
                    </ui-select-match>


                    <ui-select-choices
                            repeat="tag in (cv.tags | filter: $select.search) track by tag.id">
                        {{tag.name}}
                    </ui-select-choices>

                </ui-select>
                <!--<span class="input-group-btn">-->
                <!--<button type="button" ng-click="cv.edit_note_selected_tags = null" class="btn btn-default">-->
                <!--<span class="glyphicon glyphicon-trash"></span>-->
                <!--</button>-->
                <!--</span>-->
            </div>
            <!--//tags-->

            <br/>

            <br/>
            <button
                    ng-click="update_note('save')"
                    ng-class="{
            'btn btn-lg btn-success': cv.editNoteForm.$dirty == true,
            'btn btn-lg btn-default': cv.editNoteForm.$dirty == false,
            }"
                    ng-disabled="cv.editNoteForm.$pristine"

            >Save
            </button>

            <button class="btn btn-default" ng-click="update_note('update_close')"
                    ng-disabled="cv.editNoteForm.$pristine"

            >Update&Close
            </button>
            &nbsp;&nbsp;
            <button class="btn btn btn-default" ng-click="cancel_note_update()">Close / Cancel</button>

            <button
                    ng-class="{
                    'btn btn btn-default pull-right': !hovering,
                    'btn btn btn-danger pull-right': hovering
                    }"
                    ng-mouseenter="hovering=true"
                    ng-mouseleave="hovering=false"
                    ng-click="delete_note()">Delete
            </button>

        </form>

    </div>

    <div ng-if="cv.show_notes == true">
        <h2 class="h2">{{cv.notes_heading}}</h2>
        <br/><br/>
        <input type="text" ng-model="cv.filter_note" class="form-control" placeholder="search note..">
        <br/><br/>

        <table class="table table-hover">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Folder</th>
                <th>Tags</th>
            </tr>
            <tr ng-repeat="note in cv.notes | filter:{title: cv.filter_note }" class="hand_icon" ng-click="edit_note(note)"
                ng-class="{
            'hand_icon bg-info': note.is_selected == true
            }"

            >
                <td width="15%">{{note.title}}</td>
                <td width="70%">{{note.description}}</td>
                <td>{{note.folder_name}}</td>
                <td>{{note.tags}}</td>
            </tr>
        </table>

    </div>

</div>