<div class="container">
    <br/><br/>
    <div class=""><h2 class="h2 text-center">Welcome to Notes Application</h2></div>
    <p class="text-center text-muted">You can either try this app as a test user (email: testuser@notes.com, password: testuser) or you can signup as a new user and explore the app
    </p>
    <br/><br/>

    <div ng-if="cv.show_signup_form == false">
        <br/><br/>
        <form>
            <label>Email:</label>
            <input type="text" ng-model="cv.email" class="form-control" placeholder="please enter your email"
                   autofocus="true">

            <br/>
            <label>Password</label>
            <input type="password" ng-model="cv.password" placeholder="please enter your password" class="form-control">

            <br/><br/>
            <button class="btn btn-lg btn-success" ng-click="sign_in_user()">Sign in</button>

            <br/><br/><br/>
            <a ng-click="cv.show_signup_form = true">New User? Sign up</a>
        </form>
    </div>


    <div ng-if="cv.show_signup_form == true">
        <br/><br/>
        <form>
            <label>Email:</label>
            <input type="text" ng-model="cv.email" class="form-control" placeholder="please enter your email"
                   autofocus="true">

            <br/>
            <label>Password</label>
            <input type="password" ng-model="cv.password" placeholder="please enter your password" class="form-control">

            <br/><br/>
            <button class="btn btn-lg btn-primary" ng-click="sign_up_user()">Sign Up</button>

            <br/><br/><br/>
            <a ng-click="cv.show_signup_form = false">Existing User? Login</a>
        </form>
    </div>

</div>