<div class="container-fluid">
    <h2 class="h2">Tags</h2>

    <div ng-if="cv.show_input == 'search'">
        <a ng-click="cv.show_input = 'new_tag'; cv.search_input = ''"> (New)</a>
        <br/><br/>
        <label>Search: </label>
        <input type="text" placeholder="Search" autofocus="true" ng-model="cv.search_input" class="form-control"
               ng-if="cv.show_input == 'search'">
    </div>

    <div ng-if="cv.show_input == 'new_tag'">
        <a ng-click="cv.show_input = 'search'"> (Search)</a>
        <br/><br/>
        <form>
            <label>New Tag: </label>
            <input type="text" ng-model="cv.new_tag.name" placeholder="New tag Name" class="form-control"
                   ng-if="cv.show_input == 'new_tag'">
            <button ng-click="create_tag()" class="btn btn-default">Create</button>
        </form>
    </div>

    <div ng-if="cv.show_input == 'edit_tag'">
        <a ng-click="cv.show_input = 'search'"> Search</a> |
        <a ng-click="cv.show_input = 'new_tag'"> New</a>

        <br/><br/>
        <form>
            <input type="text" ng-model="cv.edit_tag.name" class="form-control">
            <button class="btn btn-default" ng-click="update_tag()">Update</button>
<!--            <button class="btn btn-danger" ng-click="">Delete</button>-->
        </form>

    </div>


    <br/><br/>
    <!--{{cv.tags}}-->
    <!--{{cv.tags}}-->

    <table class="table table-hover">
        <!--<tr>-->
        <!--<th>Name</th>-->
        <!--</tr>-->


        <tr ng-repeat="tag in cv.tags | filter:{name: cv.search_input }">

            <td><span class="h4">{{tag.name}}</span> <a class="text-muted pull-right" ng-click="edit_tag(tag)">(edit)</a>
            </td>
        </tr>

    </table>


</div>
