@import 'bootstrap-sprockets';
@import "bootstrap";

.hand_icon {
  cursor: pointer;
}

.y_scroll_hidden {
  //height: auto;
  //overflow: auto;
  //resize: both;
  overflow-y: auto;
  height: 800px;
}


.y_scroll {
  //height: 800px;
  //overflow-y: scroll;
  //resize: both;

  overflow-y: auto;
  height: 400px;
}



.y_scroll1000 {
  //height: 800px;
  //overflow-y: scroll;
  //resize: both;

  overflow-y: auto;
  height: 1000px;
}

//
//.y_scroll500 {
//  height: 500px;
//  overflow-y: scroll
//}